$border: 1px solid #000;
$allowed: #4caf50;
$notallowed: #f44336;

.disabled-date {
  pointer-events: none;
}

.Housing {
  &__carousel {
    width: 100%;
    margin-bottom: 30px;
  }
  &__header {
    margin-bottom: 40px;
    &--title {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 50px;
      line-height: 61px;
      color: #000000;
      margin-bottom: 10px;
    }
    &--place-rating .fa-map-marker-alt {
      color: #cd3232;
      margin-right: 10px;
    }
    &--place-rating {
      margin-bottom: 10px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 25px;
      line-height: 30px;
      display: flex;
      align-items: center;
      color: #434343;
    }
    &--avatar {
      float: right;
      width: 80px;
      height: 80px;
      border-radius: 50%;
    }
    &--username {
      float: right;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;

      color: #1e1d4c;
    }
  }
  &__cards {
    display: flex;
    margin-bottom: 50px;

    &--item {
      width: 300px;
      height: 180px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 0.5px solid #1e1d4c;
    }
    &--icon {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      display: flex;
      align-items: center;
      text-align: center;

      color: #1e1d4c;

      font-size: 32px;
      margin-bottom: 15px;
    }
    &--title {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      display: flex;
      align-items: center;
      text-align: center;

      color: #000000;
    }
  }
  &__description {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;

    color: #000000;
    margin-bottom: 75px;
  }
  &__map {
    height: 300px;
    margin-bottom: 70px;
    &--title {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 24px;
      color: #1e1d4c;
      margin-bottom: 10px;
    }
    &--address {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 27px;
      display: flex;
      align-items: center;
      color: #1e1d4c;
      margin-bottom: 20px;
    }
  }
  &__order {
    padding: 40px 20px;
    border: 0.5px solid #000000;
    border-radius: 0px 0px 5px 5px;
    border-top: none;
    margin-bottom: 30px;
    &--block {
      position: sticky;
      top: 50px;
    }
    &--title {
      border-radius: 5px 5px 0px 0px;
      padding: 15px 25px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 31px;
      line-height: 38px;
      display: flex;
      align-items: center;
      text-align: center;
      background: #cd3232;
      color: #fff;
    }
    &--row {
      width: 100%;
      display: grid;
      grid-template-columns: calc(50% - 7.5px) calc(50% - 7.5px);
      grid-column-gap: 15px;
    }
    &--button {
      background: #cd3232;
      border: 1px solid #cd3232;
      box-sizing: border-box;
      border-radius: 5px;
      height: 36px;

      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      text-align: center;

      color: #ffffff;
      width: 100%;
    }
    &--input {
      border: 0.5px solid #000000;
      box-sizing: border-box;
      border-radius: 3px;
      margin-bottom: 30px;
      background: #fff;
    }
    &--input-date {
      border: 0.5px solid #000000;
      box-sizing: border-box;
      border-radius: 3px;
      margin-bottom: 25px;
      background-color: rgba(255, 255, 255, 0) !important;
    }
    &--datepicker {
      position: absolute;
      right: 0;
      top: 0;
    }
    &--total {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      display: flex;
      align-items: center;
      color: #000000;
      margin-bottom: 10px;
    }
    &--total-price {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
      display: flex;
      align-items: center;
      text-align: right;
      color: #000000;
      float: right;
    }
    &--total-details {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 10px;
      line-height: 12px;
      display: flex;
      align-items: center;

      color: #877d7d;
      margin-bottom: 35px;
    }
    &--expand {
      outline: none;
      background: none;
      border: none;
      float: right;

      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 10px;
      line-height: 12px;
      display: flex;
      align-items: center;
      text-align: right;
      text-decoration-line: underline;

      color: #cd3232;
    }
    &--expanded {
      border-top: 1px solid #e6e6e6;
      border-bottom: 1px solid #e6e6e6;
      padding: 20px 5px;
      margin-bottom: 10px;
    }
  }
  &__send-message {
    border: 1px solid #cd3232;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #cd3232;
    background: #fff;
    width: 100%;
    padding: 10px 0;
    margin-bottom: 30px;
  }
  &__rules {
    border: $border;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 70px;
    min-height: 250px;
    &--side {
      display: flex;
      justify-content: center;

      border-right: $border;

      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      display: flex;
      align-items: center;
      text-align: center;

      color: #000000;
    }
    &--list {
      padding: 50px 20px 20px 50px;
    }
    &--item {
      font-size: 22px;
      margin-bottom: 5px;
      position: relative;

      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      display: flex;
      align-items: center;

      color: #000000;
    }
  }
  &__reviews {
    &--title {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 35px;
      line-height: 43px;

      color: #000000;
      margin-bottom: 30px;
    }
    margin-top: 100px;
    margin-bottom: 100px;
    &--item {
      background: #ffffff;
      box-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);
      border-radius: 10px 10px 0px 0px;

      padding: 30px;
      margin-bottom: 30px;
    }
    &--rating {
      float: right;
    }
    &--avatar {
      float: left;
      border-radius: 50%;
      width: 90px;
      height: 90px;
      margin-right: 20px;
    }
    &--username {
      margin-top: 10px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 25px;
      line-height: 30px;
      display: flex;
      align-items: center;
      color: #000000;
    }
    &--date {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 24px;
      display: flex;
      align-items: center;

      color: #1e1d4c;
    }
    &--body {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 22px;
      line-height: 27px;

      color: rgba(0, 0, 0, 0.9);
      margin-top: 30px;
    }
  }
}

.Housing__send {
  &__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 26px;
    text-align: center;
    color: #1e1d4c;
    margin-bottom: 30px;
  }
  &__form {
    display: flex;
    flex-direction: column;
  }
  &__label {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #b53535;
    margin-bottom: 10px;
  }
  &__input {
    padding: 5px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    border: none;
    border-bottom: 1px solid #918f8f;
    margin-bottom: 40px;

    &--limit {
      position: absolute;
      bottom: 130px;
      right: 30px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      text-align: right;
      color: #a5a4a4;
    }
  }
  &__button {
    background: #cd3232;
    border-radius: 5px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    border: none;
    padding: 20px;
    &:disabled {
      background: lightgray;
    }
  }
}
