.Reservations {
  min-height: 1000px;
  padding-top: 65px;
  &__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 61px;
    display: flex;
    align-items: center;
    margin-bottom: 100px;
    color: #000000;
  }
  &__empty {
    position: relative;
    display: flex;
  }
  &__paragraph {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #898989;
    margin-right: 115px;
  }
  &__button {
    padding: 20px 85px;
    background: #ffffff;
    border: 1px solid #cd3232;
    box-sizing: border-box;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #cd3232;
  }
  &__list {
    &--item {
      display: flex;
      justify-content: space-between;
      background: #ffffff;
      box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      margin-bottom: 30px;
    }
    &--wrapper {
      padding: 50px 0 40px 25px;
    }
    &--image {
      width: 140px;
      height: 140px;
      float: left;
      margin-right: 25px;
      box-shadow: inset 80px -40px 100px rgba(0, 0, 0, 0.2);
      border-radius: 3px;
    }
    &--title {
      cursor: pointer;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 27px;
      display: flex;
      align-items: center;
      color: #000000;
      padding-bottom: 15px;
      border-bottom: 0.3px solid rgba(0, 0, 0, 0.25);
      margin-bottom: 20px;
      min-width: 180px;
    }
    &--status {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 18px;
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }
    &--accepted {
      color: #237721;
    }
    &--waiting {
      color: #e13e1a;
    }
    &--rejected,
    &--canceled {
      color: #b60000;
    }

    &--description {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
      display: flex;
      align-items: center;

      color: #000000;
    }
    &--button {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      display: flex;
      align-items: center;
      background: none;
      border: none;
      &-wrapper {
        border-left: 0.3px solid rgba(0, 0, 0, 0.25);
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        background: #fff;

        max-width: 130px;
        padding: 0 15px;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
      }
    }
  }
}

.Cancel {
  &__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 37px;
    text-align: center;
    color: #1e1d4c;
    margin-bottom: 30px;
  }
  &__form {
    display: flex;
    flex-direction: column;
  }
  &__label {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #b53535;
    margin-bottom: 10px;
  }
  &__input {
    padding: 5px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    border: none;
    border-bottom: 1px solid #918f8f;
    margin-bottom: 40px;

    &--limit {
      position: absolute;
      bottom: 130px;
      right: 30px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      text-align: right;
      color: #a5a4a4;
    }
  }
  &__button {
    background: #cd3232;
    border-radius: 5px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    border: none;
    padding: 20px;
    &:disabled {
      background: lightgray;
    }
  }
}
@media (max-width: 425px) {
  .Reservations {
    padding-top: 25px;
    &__title {
      font-size: 34px;
      line-height: 36px;
      margin-bottom: 30px;
    }
  }
}
