.MyHouse {
  &__date {
    margin-top: 20px;
  }
  &__info {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__data {
    min-width: 250px;
    margin-bottom: 20px;
  }
  &__image {
    width: 120px;
    height: 120px;
    border: 1px solid #000;
    margin-right: 25px;
  }
  &__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 43px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-bottom: 20px;
  }
  &__pre-price {
    color: #000000;
  }
  &__price {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #cd3232;
  }
  &__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  &__deactivate,
  &__activate,
  &__change,
  &__delete {
    background: #ffffff;
    border-radius: 5px;
    padding: 15px 25px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
  }
  &__deactivate {
    border: 1px solid #cd3232;
    color: #cd3232;
  }
  &__activate {
    border: 1px solid #008947;
    color: #008947;
  }
  &__change {
    margin-left: 15px;
    border: 1px solid #000000;
    color: #000000;
  }
  &__delete {
    margin-left: 15px;
    border: 1px solid #cd3232;
    color: #cd3232;
  }
  &__income {
    border-top: 1px solid #cd3232;
    &--item {
      margin: 30px 0;
      display: flex;
      justify-content: space-between;
    }
    &--fullname {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 26px;
      line-height: 32px;
      display: flex;
      align-items: center;

      color: #000000;
    }
    &--date {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      text-align: right;

      color: #949494;
    }
    &--total {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
      display: flex;
      align-items: center;
      text-align: right;

      color: #cd3232;
    }
  }
}

@media (max-width: 500px) {
  .MyHouse {
    &__info {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
