.ForgotPassword {
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
  }
  &__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    line-height: 40px;
    text-align: center;
    color: #000000;
    margin-bottom: 10px;
  }
  &__description {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
  }
  &__input {
    padding: 15px 20px;
    background: #ffffff;
    border: 1px solid rgba(100, 96, 96, 0.8);
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #585555;
    min-width: 300px;
  }
  &__button {
    min-width: 300px;
    padding: 15px 20px;
    border: none;
    background: #cd3232;
    border-radius: 5px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    &:disabled {
      background: lightgray;
    }
  }
}
