.DatePreview {
  background-color: #fff;
  width: min-content;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  display: flex;
  padding: 10px;
  box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05),
    0 1px 3px 0 rgba(63, 63, 68, 0.15);
  position: relative;
  &__button {
    position: absolute;
    top: 15px;
    width: 30px;
    height: 30px;
    border: none;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05),
      0 1px 3px 0 rgba(63, 63, 68, 0.15);
    &--prev {
      left: 15px;
    }
    &--next {
      right: 15px;
    }
  }
}
.MonthContainer {
  flex-wrap: wrap;
  width: min-content;
  margin: 10px;
}
.WeekdayContainer {
  display: flex;
}
.Week {
  display: flex;
}
.Weekday {
  display: block;
  width: 31px;
  height: 31px;
  background: transparent;
  font-size: 11px;
  color: #637381;
  text-align: center;
}
.Month {
  margin-top: spacing();
  margin-left: spacing();
  max-width: calc(100% - 1.6rem);
  min-width: rem(230px);

  &__name {
    text-align: center;
    font-family: "system-ui", -apple-system;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.57;
    color: #343132;
    margin-bottom: 30px;
  }
}
.Day {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31px;
  height: 31px;
  margin: 0;
  background: transparent;
  border: 1px solid #dfe3e8;
  border-radius: 0;
  outline: none;
  font-size: 14px;
  cursor: pointer;

  &__blocked {
    background: #fff;
    text-decoration: line-through;
    color: #cd3232;
    border: 1px solid #e4e7e7;
  }
}
.Day + .Day,
.Day + .EmptyStateDay {
  margin-left: -1px;
}
.Day--selected {
  background: #5c6ac4;
  border: 1px solid #5c6ac4;
  color: #fff;
}
.Day--hovering {
  background: #f2f2f2;
  border: 1px solid #f2f2f2;
}

.EmptyStateDay {
  display: block;
  width: 31px;
  height: 31px;
  margin: 0;
  padding: 0.8rem;
  // border: 1px solid #dfe3e8;
}

.EmptyStateDay + .EmptyStateDay,
.EmptyStateDay + .Day {
  margin-left: -1px;
}

@media (max-width: 992px) {
  .DatePreview {
  }
}
